<%= form_for :picture, :url => pictures_path, :html => { :multipart => true } do |f| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label "Add Pictures", class: "control-label" %>
    <%= file_field_tag "images[]", type: :image, multiple: true, class: "filestyle" %>
  </div>

  <div class="actions form-group">
    <%= f.submit 'Save', class: 'btn btn-block btn-primary' %>
  </div>
<% end %>
