<%= form_for :post, :url => posts_path, :html => { :multipart => true } do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, class: "control-label" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :content, class: "control-label" %>
    <%= f.text_area :content, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Add Pictures", class: "control-label" %>
    <%= file_field_tag "images[]", type: :image, multiple: true, class: "filestyle" %>
  </div>

  <div class="form-group">
    <%= f.label :attachments, "Add Files", class: "control-label" %>
    <%= file_field_tag "files[]", type: :file, multiple: true, class: "filestyle" %>
  </div>

  <div class="actions form-group">
    <%= f.submit 'Save', class: 'btn btn-block btn-primary' %>
  </div>
<% end %>
