<p id="notice"><%= notice %></p>
<div class="col-lg-12">
  <h2 class="page-header">Posts <%= link_to 'Share a post', new_post_path, class: "btn btn-dark btn-primary" %></h2>
</div>
<hr>
<div class="row text-center">
  <% @posts.each do |post| %>
    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <% if post.pictures.exists? %>
            <img class="img-responsive img-center" src="<%= post.pictures.last.image.url(:thumb) %>" alt="">
        <% else %>
          <img class="img img-responsive img-center" src="http://placehold.it/300x100" alt="">
        <% end %>
        <div class="caption">
          <h4><a href="/posts/<%= post.id %>"><%= post.title %></a></h3>
          <%= link_to 'Edit', edit_post_path(post), class: "btn btn-default btn-sm" %>
          <%= link_to 'Remove',  post,  method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, class: "btn btn-default btn-sm" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

